/*.projects-page {
    position: relative;
    height: 100vh;
    background: #e8e8e8;
    color: #000000;
    font-family: system-ui, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
}
*/

.horizontal-slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
  height: 100vh;
  scroll-behavior:smooth ;
}

.slide {
  flex: 0 0 100%;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Optional overlay for project title */
.project-title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.slide.active {
  opacity: 1;
}
